

header {text-align: center;
   background-color: khaki;
padding-bottom: 200px;
padding-top: 400px;}

.house-fill {float: left;
padding-left: 15px;}

body {background-color: lightgoldenrodyellow;}



img {float: left;
padding: 30px;}

.Eka {padding-top: 15px;}
.Toka {padding-top: 15px;}

a:link {color: black;}
a:visited {color: black;}
a:hover {color: black;}
a:active {color: black;}



.insta {color: red;}

.email {color: blue;}
