header {text-align: center;
padding-top: 40px;
padding-bottom: 80px;
background-color: khaki;}

img {float: left;
padding: 30px;}

.house-fill {float: left;
    padding-left: 15px;}

.Eka {padding-top: 15px;}
.Toka {padding-top: 15px;}

a:link {color: black;}
a:visited {color: black;}
a:hover {color: black;}
a:active {color: black;}
